.write {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;

    margin: 20px auto;
    padding: 5px;
    margin-right: 20px;

    background-color:na;
    }